* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: 20% 0% 15% ; 
}
.header-contact {
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  color: #08fdd8;
  border: 1px solid #08fdd8;
  background-color: transparent;
}
.header-about {
  color: #8d8d8d;
  font-size: 15px;
  line-height: 1.5;
  font-family: "open san" sans-serif;
}
.word-intro {
  color: white;
  font-size: 70px;
  letter-spacing: -2.5px;
}

.body {
  display: flex;
}
.aside-bar {
  width: 100px;
  min-height: 100vh;
  position: fixed;
  overflow: hidden;
  background-color: #181818;
}
.sideFooter {
  text-align: center;
}
.contact-logo {
  padding: 0 5px;
  color: white;
  font-size: 10px;
  cursor: pointer;
}
.contact-logo i:hover {
  color: #08fdd8;
}
.name-initial {
  font-size: 60px;
  color: #08fdd8;
}
.side-top {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}
.first-name {
  font-weight: bold;
  padding-bottom: 20px;
}
.side-about {
  color: #8d8d8d;
}
.aside-links {
  margin: 90px auto;
}
.asideLink {
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.asideLink a {
  text-decoration: none;
  color: white;
}
.asideLink a:hover {
  color: #08fdd8;
}
.links-line {
  border-bottom: 0px;
}
.main {
  width: 100%;
  margin-left: 200px;
  min-height: 100vh;
}
#resume a{
  font-weight: 800;
  color: #08fdd8;
}
#resume a:hover{
  color: white;
}
